/* token overwrite */
:root {
  color-scheme: dark;
  --dr-alpha: #efefef;
  --dr-alpha-rgb: 239, 239, 239;
  --dr-beta: #000000;
  --dr-beta-rgb: 0, 0, 0;
  --dr-gamma: #1a1c1a;
  --dr-gamma-rgb: 26, 28, 26;
  --dr-delta: #1f846d;
  --dr-delta-rgb: 31, 132, 109;
  --dr-epsilon: #12ffe4;
  --dr-epsilon-rgb: 18, 255, 228;
  --dr-zeta: #6b7774;
  --dr-zeta-rgb: 178, 147, 254;
  --dr-info: #12ffe4;
}

/* globals  */
a {
  text-decoration: none;
}

input {
  background-color: var(--dr-gamma);
}

/* single book page styles  */
.book-detail-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  border-radius: 1rem;
  box-shadow: 0 0.4rem 0.8rem rgba(var(--dr-gamma-rgb), 0.1);
  container-type: inline-size;
}

.book-detail-image {
  flex: 1;
  height: 100%;

  min-width: 25rem;
}

.book-detail-image img {
  width: 100%;
  height: 100%;
  max-height: 40rem;
  border-radius: 1rem;
}

.book-detail-info {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.book-actions .item-action {
  text-decoration: none;
}

.book-actions .item-action {
  min-width: 12rem;
}

@container (max-width: 60rem) {
  .book-actions {
    flex-wrap: wrap;
  }
}

/*  coffee shop styles  */
/* header */
.app-header {
  width: 100vw;
  height: 12rem;
  container-type: inline-size;
}

.app-header > div {
  max-width: 80rem;
  margin-left: 4%;
  width: 92%;
}
.coffeeshop-logo,
.library-logo {
  width: 8rem;
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dr-alpha);
  border-radius: 50%;
}

@container (max-width: 480px) {
  .coffeeshop-logo,
  .library-logo {
    width: 5rem;
    height: 5rem;
  }
}

.coffeeshop-logo img,
.library-logo img {
  width: 50%;
  height: 80%;
  object-fit: cover;
  object-position: center;
}

.main-content-area {
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  margin-top: -2rem;
}

.main-content-area > div {
  margin: auto;
  width: 92%;
  max-width: 80rem;
  padding-top: 4.8rem;
}

.app-header > div {
  max-width: 60rem;
  margin-bottom: 2rem;
}

.app-header .search-button .fa {
  font-size: 3rem;
}

input {
  background-color: var(--dr-gamma);
  color: var(--dr-alpha);
  border: 0.1rem solid var(--dr-delta);
  padding: var(--dr-spacing-2) var(--dr-spacing-4);
  width: 100%;
}

.app-header input::placeholder {
  opacity: 0.5;
}
.app-header input:focus,
.app-header input:active {
  border: none;
  outline: none;
  box-shadow: none;
}

/* Navigation */
.bottom-menu {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--dr-beta);
  box-shadow: 0 -2px 5px rgba(var(--dr-gamma-rgb), 0.5);
  z-index: 1000;
}

/* Menu list styling */
.bottom-menu-list {
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  list-style: none;
}

/* menu */
.bottom-menu_item {
  flex: 1;
  text-align: center;
  color: var(--dr-alpha);
  font-size: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: var(--dr-spacing-2) 0;
}

.bottom-menu_item:hover {
  background-color: var(--dr-gamma);
}

.bottom-menu_item.active {
  background-color: var(--dr-delta);
  font-weight: bold;
}

.bottom-menu_item i {
  display: block;
  font-size: 2rem;
  color: var(--dr-epsilon);
}

.bottom-menu_item.active i,
.bottom-menu_item.active span {
  color: var(--dr-alpha);
}

.bottom-menu_item span {
  display: block;
  font-size: 10px;
  color: var(--dr-zeta);
}

@media (min-width: 480px) {
  .bottom-menu_item i {
    font-size: 24px;
  }

  .bottom-menu_item span {
    font-size: 12px;
  }
}
.coffee-card-container {
  container-type: inline-size;
}

.coffee-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
  max-width: 15rem;
  max-width: 15rem;
}

@media (max-width: 400px) {
  .coffee-card {
    flex-wrap: wrap;
  }
  .coffee-card > div,
  .coffee-card img {
    width: 100%;
    max-width: 100%;
    max-height: 20rem;
  }

  .coffee-card > div > a {
    width: 100%;
  }

  .coffee-card > div > a > button {
    width: 100%;
    justify-content: center;
  }
}

/* footer */
.app-footer {
  height: 10rem;
}

/* auth forms  */
.auth-form {
  width: 92%;
  max-width: 50rem;
}
