@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Lobster&display=swap");

/*
	Hielo by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
*/

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background: #000;
  color: white;
  margin: 0;
  padding: 0;
}

body {
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  width: 0;
}

/* Basic */

@-ms-viewport {
  width: device-width;
}

body {
  -ms-overflow-style: scrollbar;
}

body,
input,
select,
textarea {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.65;
}

a {
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

strong,
b {
  font-weight: 600;
}

em,
i {
  font-style: italic;
}

p {
  margin: 0 0 1rem 0;
  font-weight: 300;
  margin: 0 0 2rem 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin: 0 0 1rem 0;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h2 {
  font-size: 4.8rem;
}

h3 {
  font-size: 3.2rem;
}

h4 {
  font-size: 2.4rem;
}

h5 {
  font-size: 0.9rem;
}

h6 {
  font-size: 0.7rem;
}

.header-content h1 {
  font-size: 1.5rem;
}

/* Menu */
.menu-button {
  font-size: 4rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
  color: #fff;
  border: none;
  border-radius: 5px;
  background-color: transparent;
  outline: none;
  border: none;
  align-items: center;
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .menu-button {
    font-size: 3rem;
  }
}

.drawer {
  position: fixed;
  top: 0;
  left: -80%;
  width: 80%;
  max-width: 50rem;
  height: 100%;
  background-color: #000;
  color: #fff;
  transition: left 0.3s ease;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
  padding-top: 5rem;
  z-index: 10;
}

.drawer.open {
  left: 0;
}

@media (max-width: 768px) {
  .drawer {
    transition: right 0.3s ease;
    right: -80%;
    left: auto;
  }

  .drawer.open {
    left: auto;
    right: 0;
  }
}

/* Drawer Menu Items */
.drawer h2 {
  margin-bottom: 1rem;
}

.drawer ul {
  list-style-type: none;
  padding: 0 1.6rem;
}

.drawer ul li {
  margin-bottom: 1rem;
}

.drawer ul li:hover {
  transform: skew(-20deg, 0);
  opacity: 0.8;
  transition: all 0.3s ease;
}

.drawer ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 4rem;
}

.close-button {
  background: none;
  border: none;
  color: #fff;
  font-size: 1.5rem;
  position: absolute;
  top: 2.4rem;
  right: 2.4rem;
  cursor: pointer;
}

.close-button i {
  font-size: 4rem;
  color: inherit;
}

/* Landing */
.landing {
  width: 100vw;
  height: 100vh;
}
.landing h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  font-size: 8.4rem;
  text-align: center;
}

.landing video {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -100;
  opacity: 0.5;
}
.landing .header {
  width: 100%;
  z-index: 7;
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
}

/* Icon */

.icon {
  display: block;
  height: 5rem;
  width: 5rem;
}

/* fade in animation */
/* Add animation styles */
.fade-in-up {
  opacity: 0;
  transform: translateY(6rem);
  transition: opacity 2s ease-out, transform 2s ease-out;
}

.fade-in-up.visible {
  opacity: 1;
  transform: translateY(0);
}

/* Header */
.header {
  background: rgba(0, 0, 0, 0.975);
  width: 100%;
  z-index: 10;
  position: fixed;
  top: 0;
}

.header > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 92%;
  margin: 0 auto;
}

.header .logo {
  background-image: url("/assets/images/logo.webp");
  background-position: center;
  background-size: 150%;
  background-repeat: no-repeat;
  display: block;
  width: 8rem;
  height: 8rem;
}

@media (max-width: 768px) {
  .header .logo {
    width: 5rem;
    height: 5rem;
  }
}

/* pastoral team section */
.info-container {
  container-type: inline-size;
  margin: 6.4rem auto;
  width: 92%;
  max-width: 120rem;
}

.info-container > div {
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 3.2rem;
}

.info-container.reversed > div {
  flex-direction: row-reverse;
}

.info-container.full-width > div {
  display: block;
}

.info-container.full-width .beliefs > div {
  justify-content: flex-start;
  align-items: center;
  display: flex;
  gap: 1.6rem;
}

.info-container__images {
  width: calc(35% - 1.6rem);
}

.info-container__images img {
  object-position: center;
  max-height: 100rem;
  object-fit: cover;
  display: block;
  width: 100%;
}

.info-container__info {
  width: calc(65% - 1.6rem);
}

.info-container__info p {
  font-size: 1.8rem;
}

@container (max-width: 800px) {
  .info-container > div {
    flex-wrap: wrap;
  }
  .info-container > div > div {
    width: 100%;
  }

  .info-container__images img {
    width: 100%;
    height: 50rem;
    object-position: top;
  }
}

/* In the gap Bible verse */
.Bible-verse-container {
  position: relative;
  background-image: url("/assets/images/green_lights.jpg");
  background-size: cover;
  background-position: top center;
  height: 50rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Bible-verse-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 1;
}

.Bible-verse-content {
  position: relative;
  z-index: 2;
  color: white;
  width: 92%;
  max-width: 120rem;
}

.Bible-verse-content p {
  font-size: 2.4rem;
  text-align: center;
}

.Bible-verse-content h2 {
  font-size: 4.8rem;
  text-align: center;
  font-weight: bold;
}

.info-container.our-story .info-container__images .our-story-image {
  object-fit: contain;
  max-width: 30rem;
  margin: auto;
  height: auto;
}

/*  beliefs section */
.our-beliefs {
  background-image: url("/assets/images/gap.jpg");
  background-size: cover;
  background-position: center;
  min-height: 50rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 100%;
  position: relative;
  padding: 6.4rem 0;
}

.our-beliefs .beliefs {
  width: 120rem;
  width: 92%;
}

@media (max-width: 768px) {
  .our-beliefs {
    background-position: top center;
  }
}

.our-beliefs::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 1;
}

@media (max-width: 768px) {
  .our-beliefs::before {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.beliefs {
  max-width: 120rem;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}

.beliefs h3 {
  font-size: 2.4rem;
  font-weight: bold;
}
.beliefs > div {
  margin-bottom: 2.4rem;
}

.beliefs > div .fa {
  flex-shrink: 0;
  color: #12ffe4;
  font-size: 6rem;
  width: 10rem;
}

@media (max-width: 768px) {
  .beliefs > div .fa {
    font-size: 3rem;
    width: 3rem;
  }
}

/* footer */
.footer {
  background-color: black;
  padding: 2.4rem;
}

.footer .icons {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1.6rem;
}

.footer .icons li a {
  color: #11e0b0;
  font-size: 3.2rem;
  text-decoration: none;
}

.footer .icons li a:hover {
  color: #0fb89c;
}

/* TSCA section */
.tsca {
  container-type: inline-size;
}

.tsca__title {
  text-align: center;
  margin-bottom: 2.4rem;
}

.tsca img {
  max-width: 50rem;
  display: block;
  margin: auto;
}

@media (max-width: 768px) {
  .tsca img {
    max-width: 80%;
    margin-bottom: 2.4rem;
  }
}

.tsca h3 {
  font-size: 4.8rem;
  font-weight: bold;
}

.tsca p {
  margin-bottom: 1.6rem;
}
.tsca .card {
  perspective: 100rem;
  cursor: pointer;
}

.tsca .card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.tsca .card.flip .card-inner {
  transform: rotateY(180deg);
}

.tsca .card-front,
.tsca .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.25);
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tsca .card-front {
  background-color: #000;
}

.card-front h3 {
  text-align: center;
}

.tsca .card-back {
  background-color: #000;
  transform: rotateY(180deg);
}

.info-container__cards > div {
  width: calc(33.333% - 1.6rem);
  height: 36rem;
}

.tsca .card-image {
  width: 50%;
  width: 20rem;
  height: auto;
  margin-bottom: 1.6rem;
}

@container (max-width: 800px) {
  .info-container__cards {
    flex-wrap: wrap;
  }
  .info-container__cards > div {
    width: 100%;
    height: 40rem;
  }
}

/* modal */
.modal {
  display: none;
  position: fixed;
  z-index: 12;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.modal-content {
  background-color: #000;
  margin: 6.4rem auto 0;
  padding: 1.6rem;
  width: 90%;
  max-width: 50rem;
  border: 0.5px solid #ffffffa6;
}

.close-button-modal {
  color: #000;
  float: right;
  font-size: 28px;
  font-weight: bold;
  border: none;
  outline: none;
}

.close-button-modal:hover,
.close-button-modal:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.open-modal-button {
  background-color: #1f846d;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  display: block;
  margin-top: 1.6rem;
}

.open-modal-button:hover {
  background-color: #1f846d;
}

.modal form {
  display: flex;
  flex-direction: column;
}

.modal form label {
  margin-top: 10px;
}

.modal form input,
.modal form textarea {
  padding: 10px;
  margin-top: 5px;
  background-color: #fff;
  border: none;
  outline: none;
}

.modal form input:focus,
.modal form textarea:focus {
  border: 1px solid #12ffe4;
  box-shadow: 0 0 5px #12ffe4;
}

.modal form button {
  margin-top: 20px;
  padding: 10px;
  background-color: #1f846d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal form button:hover {
  background-color: #1f846d;
}

/* Toast styles */
.toast {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 13;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

.toast.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

.logout-in-button {
  background-color: #12ffe4;
  color: #000;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  display: block;
  margin-top: 1.6rem;
}
