/* header */
.library-header {
  width: 100vw;
  height: 12rem;
}

.library-content-area {
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  margin-top: -2rem;
}

.library-header > div {
  max-width: 60rem;
  margin-bottom: 2rem;
}

.library-header .search-button .fa {
  font-size: 3rem;
}

.library-header input::placeholder {
  opacity: 0.5;
}
.library-header input:focus,
.library-header input:active {
  border: none;
  outline: none;
  box-shadow: none;
}

/* Navigation */
.library-menu {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--dr-beta);
  box-shadow: 0 -2px 5px rgba(var(--dr-gamma-rgb), 0.5);
  z-index: 1000;
}

/* Menu list styling */
.library-menu-list {
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  list-style: none;
}

/* Menu item styling */
.library-menu_item {
  flex: 1;
  text-align: center;
  padding: 10px 0;
  color: var(--dr-alpha); /* App lettering */
  font-size: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.library-menu_item:hover {
  background-color: var(--dr-gamma); /* App foreground contrast */
}

/* Active menu item styling */
.library-menu_item.active {
  background-color: var(--dr-delta); /* Highlight active */
  font-weight: bold;
}

/* Icon and text styling */
.library-menu_item i {
  display: block;
  font-size: 20px;
  color: var(--dr-epsilon); /* Icon color */
  margin-bottom: 5px;
}

.library-menu_item span {
  display: block;
  font-size: 10px;
  color: var(--dr-zeta); /* Text color */
}

/* Responsive font sizing */
@media (min-width: 480px) {
  .library-menu_item i {
    font-size: 24px;
  }

  .library-menu_item span {
    font-size: 12px;
  }
}
