/* Menu list styling */
.library-menu-list {
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  list-style: none;
}

/* Menu item styling */
.library-menu_item {
  flex: 1;
  text-align: center;
  color: var(--dr-alpha);
  font-size: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: var(--dr-spacing-2) 0;
}

.library-menu_item:hover {
  background-color: var(--dr-gamma);
}

.library-menu_item.active {
  background-color: var(--dr-delta);
  font-weight: bold;
}

.library-menu_item i {
  display: block;
  font-size: 2rem;
  color: var(--dr-epsilon);
}

.library-menu_item.active i,
.library-menu_item.active span {
  color: var(--dr-alpha);
}

.library-menu_item span {
  display: block;
  font-size: 10px;
  color: var(--dr-zeta);
}

@media (min-width: 480px) {
  .library-menu_item i {
    font-size: 24px;
  }

  .library-menu_item span {
    font-size: 12px;
  }
}

/* book card */

.item-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  gap: 2rem;
}

.book-card {
  background-color: var(--dr-beta);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(var(--dr-beta-rgb), 0.1);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 100%;
}

.book-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(var(--dr-beta-rgb), 0.2);
}

.book-card-image {
  width: 100%;
  height: 20rem;
  overflow: hidden;
}

.book-card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.book-card:hover .book-card-image img {
  transform: scale(1.05);
}

.book-card-info h5 {
  color: var(--dr-alpha);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
