.menu-dropdown {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 300px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.menu-dropdown ul {
  list-style-type: none;
  width: 100%;
  padding: 0;
  margin: 0;
}

.menu-dropdown .menu-dropdown-list .menu {
  width: 100%;
  text-align: left;
  display: block;
  margin: 0;
  padding: 1.6rem;
}

.menu-dropdown ul li a {
  color: black;
  text-decoration: none;
  display: block;
}

.menu-dropdown ul li a:hover {
  background-color: #f1f1f1;
}

.menu-toggle {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.menu-toggle:hover {
  background-color: #45a049;
}

.show {
  display: block;
}
